---
title: Decoded? math & coding notes
---


<h3> Observations of George McNinch </h3>
<p></p>

<h2>Posts</h2>
$partial("templates/post-list.html")$

<p> (the <a href="/archive.html">archives</a> should have the complete list of posts).</p>
